#view-post-page {

    flex: 1;
    width: 60%;
    margin: auto;

    display: flex;
    flex-direction: column;
    align-items: center;

}

.trip-desc-page {
    padding: 35px;
    
    background-color: lightgray;
    border-radius: 15px;
    width: 80%;
    margin-bottom: 15px;
}

.car-info {
    padding: 35px;
    background-color: lightgray;
    border-radius: 15px;
    width: 80%;
}

.trip-desc-page p {
    margin: 0;
}

.car-info p {
    margin: 0;
}