#browse-page {
    width: 100%;
    margin: 0 auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    text-align: center;
    flex: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-bar {
    display: flex;
    align-items: center;

    justify-content: space-around;
    background: gray;

    padding: 25px;
    border-radius: 15px;

    min-width: 1000px;
}

.search-bar input {
    padding: 25px 15px 25px 42px;
    height: 25px;
    font-size: 16px;

    border: none;
    background-color: lightgray;

    box-sizing: border-box;
    border-radius: 15px;
}

.gradient-btn {

    width: 25%;

    color: white;

    margin: auto auto auto 42px !important;
}

#browse-page .posting {
    cursor: pointer;
}

#browse-page .posting:hover {
    background-color: rgb(241, 241, 241);
}

.items {
    width: 100%;
    flex: 1;
}

.pagination {
    background-color: lightcoral;
    width: fit-content;

    padding: 0;
    margin: 0;
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination li {
    list-style-type: none;
}

.page-item {
    
}

.page-link {
    padding: 15px;
    display: flex;

    border-radius: 50%;
    aspect-ratio: 1;
    height: 15px;

    display: flex;
    align-items: center;
    justify-content: center;

    margin: 10px 0px;
    font-weight: 700;
}

.active a {
    background-color: lightpink;
}