#browse-page {
    width: 60%;
    margin: 0 auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    text-align: center;
}

.search-bar {
    display: flex;
    align-items: center;

    justify-content: space-around;
    background: gray;

    padding: 25px;
    border-radius: 15px;
}

.search-bar input {
    padding: 25px 15px 25px 42px;
    height: 25px;
    font-size: 16px;

    border: none;
    background-color: lightgray;

    box-sizing: border-box;
    border-radius: 15px;
}

.gradient-btn {

    width: 25%;

    color: white;

    margin: auto auto auto 42px !important;
}

.posting {
    margin: 15px auto;
    background-color: #E9D8A6;

    padding: 15px 25px;
    text-align: left;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    border-radius: 15px;
    border: 1px solid black;

    box-sizing: border-box;
    width: 100%;
}

#browse-page .posting {
    cursor: pointer;
}

.user-info {
    height: 100%;
    width: 200px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

.user-info img {
    width: 125px;
    height: 125px;
    object-fit: cover;
    border-radius: 50%;
}

.user-info p, .trip-info p, .pref-info p {
    margin: 0;
}

.trip-info {
    flex: 1;
    margin-left: 25px;
}

.pref-info {
    flex: 1;
}

.trip-info, .pref-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}