#post-page {    
    flex: 1;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

#post-page a {
    width: 500px;
    height: 125px;

    display: flex;
    align-items: center;
    justify-content: center;

    text-decoration: none;

    margin: 25px;
    border-radius: 35px;

    font-size: 24px;
    font-weight: 600;
    
    box-shadow: 0 0 15px 1px #e78267;
}

#post-page hr {
    width: 600px;
    height: 2px;

    background-color: black;
}

#post-page a p {
    margin: 0 20px;
}

#post-link {
    background-color: #0A9396;
    color: #EE9B00;
}

#post-link:hover {
    filter: invert(100%);
}

#request-link {
    background-color: #9B2226;
    color: #94D2BD;
}

#request-link:hover {
    filter: invert(100%);
}